<h2>Login</h2>

<form action="/login" method="post">
  <label for="username">Username: </label><input type="text" id="username"
   name="username">
  <br>
  <label for="password">Password: </label><input type="password" id="password"
    name="password">
  <br>
  <% if flash.has?(:message) %>
    <p class="flash-text"><%= flash[:message] %></p>
    <% else %>
    <br>
  <% end %>
  <input type="submit" value="Login">
</form>
