<div class="container">
  <div class="centered">
    <h1>Expense Tracker</h1>

    <p>Track your spending. Group by categories. Easily view monthly reporting.
    Take the next step to control your expenditures.</p>

    <br>

    <a class="button-link" href="/signup">Sign Up</a>
    <a class="button-link" href="/login">Login</a>
  </div>

</div>
