* {
  font-family: Arial, sans-serif;
}

.flash-text {
  color: #d40000;
}

.bolded {
  font-weight: bold;
}

.button-link {
  font: bold 18px Arial;
  text-decoration: none;
  background-color: #64d166;
  color: #1b351c;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.button-link:hover {
  color: #ceffd0;
}

.category-list a:hover {
  color: #389639;
}

.centered {
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.inline {
  display: inline-block;
}

.monthly-table {
  min-width: 300px;
}

.right-justify {
  text-align: right;
}

.show-all-link {
  font-size: 0.9em;
}

.summary-container {
  width: 300px;
}

.summary-table-month {
  margin-top: 0;
}

.table-title {
  text-align: center;
}

.table-title {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-title li {
  width: 100px;
  float: left;
}

a {
  color: #1b351c;
}

a:link {
  text-decoration: none;
}

body {
  margin: 0;
  background-image: url("/images/calc3.png");
  background-color: #F2F2F2;
  background-repeat: no-repeat;
}

footer {
  background-color: #333;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: #64d166;
}

footer p {
  text-align: center;
  font-size: 10px;
  color: #FFF;
}

h1 {
  color: #1b351c;
}

label {
  vertical-align: bottom;
}

li {
  list-style-type: none;
}

main {
  margin: 0px 8px;
  padding-top: 40px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;

}

nav li {
  float: left;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: #64d166;
  background-color: #222;
}

table {
  min-width: 500px;
  background-color: rgba(254,255,253,0.40);
}

table a {
  color: #1b351c;
}

table a:hover {
  color: #389639;
}

table td:hover {
  background-color: #D1E6D8;
}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
}

th, td {
  padding: 2px 7px;
}
