* {
  font-family: Arial, sans-serif;
}

.flash-text {
  color: #d40000;
}

.bolded {
  font-weight: bold;
}

.button-link {
  font: bold 18px Arial;
  text-decoration: none;
  background-color: #64d166;
  color: #1b351c;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.button-link:hover {
  color: #bbf7bd;
}

.category-list {
  font-size: 1.2em;
}

.category-list a:hover {
  color: #389639;
}

.center-button {
  width: 50%;
  text-align: center;
}

.centered {
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.inline {
  display: inline-block;
}

.menu-btn {
  display: none;
}

.monthly-table {
  min-width: 70%;
}

.right-justify {
  text-align: right;
}

.show-all-link {
  font-size: 0.9em;
}

.summary-container {
  width: 100%;
}

.summary-table-month {
  margin-top: 0;
}

.table-title {
  width: 70%;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.table-title div {
  width: 33%;
  float: left;
}


a {
  color: #1b351c;
}

a:link {
  text-decoration: none;
}

body {
  margin: 0;
  background-image: url("/images/calc3.png");
  background-color: #F2F2F2;
  background-repeat: no-repeat;
}

footer {
  background-color: #333;
  width: 100%;
  bottom: 0;
  position: fixed;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: #64d166;
}

footer p {
  text-align: center;
  font-size: 10px;
  color: #FFF;
}

h1 {
  color: #1b351c;
}

label {
  vertical-align: bottom;
}

li {
  list-style-type: none;
}

main {
  margin: 0px 8px;
  padding-top: 40px;
  width: 960px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;

  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  color: #64d166;
  background-color: #222;
}

table {
  min-width: 500px;
  background-color: rgba(254,255,253,0.40);
}

table a {
  color: #1b351c;
}

table a:hover {
  color: #389639;
}

table td:hover {
  background-color: #D1E6D8;
}

table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
}

th, td {
  padding: 2px 7px;
}

.responsive-menu{
	display: block;
}

.expand {
	display: block;
}

@media only screen and (max-width:960px) {
  main {
    font-size: 150%;
  }
  .responsive-menu a {
    width: 100%;
  }

  nav a.menu-btn {
    display: block;
    top: 0;
    left: 0;
  }

}

/*@media only screen and (max-width:590px) {
  nav a {
    display: none;
  }
  nav a.menu-btn {
    display: block;
    float: left;
    width: auto;
    font-size: 1.5em;
    padding: 10px 20px;
  }

  #logout-button {
    font-size: 1.5em;
    display: block;
  }
}*/

@media only screen and (max-width:960px) {
  main {
    width: 90%;
  }
}
