<h1>Summary</h1>

<a href="/expenses/new" class="button-link">Add Expense</a>
<a href="/categories" class="button-link">Categories</a>


<h2>Monthly summary by category here</h2>

<% @expenses.each do |expense| %>
  <p><%= expense.date.strftime('%D') %> <%= expense.category.name %> $<%= expense.amount %></p>
<% end %>
