<h2>Sign Up</h2>

<form action="/users" method="post">
  <label for="email">Email: </label><input type="email" id="email"
  value="<%= @user.email %>" name="user[email]">
  <br>
  <label for="username">Username: </label><input type="text" id="username"
   name="user[username]" value="<%= @user.username %>">
  <br>
  <label for="password">Password: </label><input type="password" id="password"
    name="user[password]">
  <br>
  <% if flash.has?(:message) %>
    <p class="flash-text"><%= flash[:message] %></p>
    <% else %>
    <br>
  <% end %>
  <input type="submit" value="Submit" onclick="this.disabled = true;this.form.submit();">
</form>
