<h1>Your Categories</h1>

<ul>
<% @categories.each do |category| %>
  <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
<% end %>
</ul>

<% if flash.has?(:message) %>
  <p class="flash-text"><%= flash[:message] %></p>
<% end %>

<form action="/categories" method="post">
  <label for="name">New Category: </label><input type="text" id="name"
   name="name">
   <br></br>
   <input type="submit" value="Add Category" onclick="this.disabled = true;this.form.submit();">
</form>
