<h1>Record a New Expense</h1>

<form action="/expenses" method="post">
  <label class="bolded" for="date">Date: </label><input type="date"
  id="date" name="date">
  <br>
  <label class="bolded" for="amount">Amount: </label><input type="number"
  id="amount" step="0.01" min=0 name="amount" placeholder="0.00">
  <br>
  <label class="bolded" for="vendor">Description: </label><input type="text"
  id="vendor" name="vendor" placeholder="e.g. Amazon">
  <br></br>

  <label class="bolded">Category:</label>
  <br>
    <% @categories.each do |category| %>
      <input type="radio" name="existing_category" value="<%= category.id %>"
      ><%= category.name %></input>
      <br>
    <% end %>
    <label for="new_category">New Category: </label><input type="text"
    id="new_category" name="new_category">

  <br></br>
  <input type="submit" value="Enter" onclick="this.disabled = true;this.form.submit();">
</form>
