<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if logged_in? %>
          <li><a href="/expenses">Expenses</a></li>
          <li><a href="/expenses/new">Add Expense</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/users/profile">Profile</a></li>

          <li class="float-right"><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>created by <a target="_blank" href="http://www.github.com/andrewjford">
        Andrew Ford</a></p>
    </footer>

  </body>
</html>
