<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <% if logged_in? %>
      <a href="/users/profile">Profile</a>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/login">Login</a>
    <% end %>
    <%= yield %>
  </body>
</html>
